/* @import "./base.css"; */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
  }
  .container{
    width: 100%;
    height: auto;
  }
  nav {
    background: orange;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 44;
  }
  .body{
    width: 100%;
    height: auto;
    /* background-color: gray; */
    position: relative;
    top:60px;
  }
  .sub_body{
    width: 80%;
    height: 1000px;
    margin: 0px auto;
    background-color: gray;
  }
  .sub_body .tex{
    padding: 50px;
  }
  .sub_body h3{
    color: #ED0000;
  }
  .sub_body strong{
    font-size: 40px;
    color: #150606;
    font-family: 'Inter';
    line-height: 48px;
  }
  .button{
    padding-left: 30px;
    padding-bottom: 100px;
  }
  button{
    background-color: orange;
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 5px;
  }
  .box{
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
  }
  .sub_box{
    width: 20%;
    height: 100%;
    background-color: orange;
    text-align: center;
  }
  .sub_box h4{
    font-size: 20px;
  }
  .sub_box p{
    color: white;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .sub_box .img{
    width: 85%;
    height: 25%;
    background-color: brown;
    margin: 0px auto;
  }
  .sub_box .img img{
    width: 100%;
    height: 100%;
  }
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 20px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,
  a:hover {
    background: #FF1744;
    transition: .5s;
  }
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  i{
    padding-right: 10px;
  }
  ul button{
    background-color:#0A58A2;
    font-size: 17px;
    padding: 7px 10px;
    border-radius: 3px;
  }
  footer{
    width: 100%;
    height: 350px;
    margin-top: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Battambang', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 40px 0;
    margin-top: 20px;
}
.sub_footer{
    width: 80%;
    height: 90%;
    /* background-color: dodgerblue; */
    display: flex;
}
.footer_box{
    width: 33.33%;
    height: 100%;
    /* background-color: darkkhaki; */
    margin-top: 10px;
    /* padding-top: 100px; */
}
.footer_box img{
    
    height: 60px;
}
.footer_box span{
    color: rgb(194, 194, 191);
}
.footer_box a{
    color: rgb(230, 217, 202);
    text-decoration: none;
}
.footer_box a:hover{
    color: white;
    /* font-weight: bold; */
}
.footer_box p{
    color: white;
}
.footer_box h2{
    color: rgb(194, 194, 191);
    font-family: 'Koulen',Arial, Helvetica, sans-serif;
}
.footer_box span i{
    font-size: 20px;
    padding: 5px;
}
.footer_box p img{
    width: 30px;
    height: 30px;
}


/* //////////////////////////////////////////////////////// */
.body_pro{
    width: 100%;
    height: auto;
    /* background-color: gray; */
    position: relative;
    top:60px;
}
.sub_body_pro{
  width: 80%;
  /* height: 1500px; */
  height: 2800px;
  margin: 0px auto;
  /* background-color: rgb(237, 234, 230); */
  /* background-color: gray; */
}
.header{
  width: 100%;
  height: 8%;
  /* background-color: chartreuse; */
  text-align: center;
}
.pro_bar{
  width: 100%;
  height: 3%;
  /* background-color: royalblue; */
  display: flex;
  justify-content: center;
}
.sub_bar{
  width: 60%;
  height: 100%;
  /* background-color: cadetblue; */
  align-items: center;
}
.sub_bar ul {
  text-align: center;
  align-items: center;
}
.sub_bar ul li {
  display: inline-block;
  padding-left: 10px;
  
}
.sub_bar ul li a {
  color: black;
  font-size: 17px;
  padding: 3px 10px;
  border-radius: 3px;
  background-color: orange;
}
.sub_bar li a:hover {
  background: #FF1744;
  transition: .5s;
}
.main_pro{
  width: 98%;
  height: 600px;
  /* background-color: aqua; */
  margin: auto;
}
.sub_main1{
  width: 100%;
  height: 48%;
  padding-top:10px ;
 /* background-color: darkorchid; */
 display: flex;
 justify-content: space-between;
}
.box_pro{
  width: 20%;
  height: 100%;
  background-color:white;
  box-shadow: 0px 5px 10px gray;
}
.sub_main2{
  width: 100%;
  height: 48%;
 /* background-color: darkorchid; */
 display: flex;
 padding-top: 35px;
 justify-content: space-between;
 margin-bottom: 20px;
}
.discount{
  width: 70px;
  height: 20px;
  background-color: red;
  margin-top: 15px;
  margin-left: 10px;
}
.image{
  width: 90%;
  height: 45%;
  background-color: chartreuse;
  margin: auto;
  margin-top: 20px;
}
.image img{
  width: 100%;
  height: 100%;
}
.star{
  margin-top: 15px;
  margin-left: 10px;
}
.text_dc{
  margin-left: 10px;
}
.price_dc{
  margin-left: 10px;
  color: red;
}
/* /////////////////////////// */
.con_check{
  width: 80%;
  height: 500px;
  /* background-color: darksalmon; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.left_con{
  width: 65%;
  height: 100%;
  /* background-color: white; */
  background-color: rgb(246, 243, 243);
  border-radius: 7px;
}
.left_con .header{
  width: 100%;
  height: 13%;
  background-color: coral;
  /* margin-top: 10px; */
  box-shadow: 0px 2px 5px gray;
  border-radius: 7px 7px 0px 0px;
}
.sub_header{
  width: 100%;
  height: 60%;
  /* background-color: cadetblue; */
  display: flex;
  /* margin-top: 1.2%; */
  padding-top: 2%;
  margin-bottom: 10px;
  font-size: 18px;
}
.header_item{
  width: 60%;
  height:100%;
  padding-left: 20px;
  text-align: left;
  /* background-color: darkorange; */
}
.header_price{
  width: 20%;
  height: 100%;
  /* background-color: cyan; */
}
.header_quantity{
  width: 20%;
  height: 100%;
  /* background-color: forestgreen; */
}
.body_item{
  width: 100%;
  height: 77%;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.item{
  width: 60%;
  height: 40%;
  /* background-color: #FFA500; */
  display: flex;

}
.item .image{
  width: 60%;
  height: 100%;
  /* background-color: darkturquoise; */
  margin-left: 5%;
}
.image img{
  width: 100%;
  height: 100%;
}
.item .text{
  width: 40%;
  height: 60%;
  margin-top: 5%;
  margin-left: 20px;
  /* background-color: cornflowerblue; */
}
.text .name{
  width: 100%;
  height: 60%;
}
.text .size{
width: 100%;
height: 40%;
}
.price{
width: 20%;
height: 40%;
/* background-color: red; */
}
.quantity{
width: 20%;
height: 40%;
/* background-color: darkseagreen; */
}
.quantity select{
width:40%;
height: 25%;
font-size: 17px;
margin-top: 22px;
font-weight: bold;
}
.footer{
width: 100%;
height: 10%;
background-color: coral;
border-radius: 0px 0px 7px 7px;
box-shadow: 0px 2px 5px gray;
}
/* //////////////////////////////////////////////////////// */
.right_con{
  width: 33%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  /* background-color: rgb(157, 156, 156); */
  background-color: gray;
}
.sub_right{
width: 80%;
height: 80%;
/* background-color: burlywood; */
margin: auto;
margin-top: 40px;
}
.list{
width: 100%;
height: 30%;
display: flex;
/* background-color: darkkhaki; */
margin-top: 30px;
}
.left_text{
width: 60%;
height: 100%;
/* background-color: cornflowerblue; */
}
.left_text p{
padding-top: 10px;
color: #252627;
}
.right_num{
width: 40%;
height: 100%;
/* background-color: darkseagreen; */
}
.right_num h4{
padding-top: 10px;
text-align: center;
}
.total{
width: 100%;
height: 10%;
display: flex;
padding-top: 20px;
}
.text{
width: 60%;
height: 100%;
}
.num{
width: 40%;
height: 100%;
text-align: center;
}
.btn{
width: 90%;
height: 10%;
margin-top:40px;
/* background-color: cadetblue; */
}
.btn button{
width: 100%;
height: 100%;
background-color: #FFA500;
border-radius: 7px;
font-size: 17px;
border: none;
color: white;
}
.btn button:hover{
background: #FF1744;
transition: .5s;
}
/* page customer inf */.right_cus
.con_info{
  width: 80%;
  height: 500px;
  /* background-color: darksalmon; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.left_con_info{
  width: 60%;
  height: 100%;
  /* background-color: rgb(246, 243, 243); */
  /* background-color: #85C1E9 ; */
  border-radius: 7px;
  box-shadow: 0px 5px 10px gray;
}
.right_con_info{
  width: 33%;
  height: 100%;
  /* background-color: deeppink; */
}
.cus_info{
  width: 100%;
  height: 5%;
  /* background-color: deeppink; */
  display: flex;
  margin-top: 10px;
}
.left_cus{
  width: 47%;
  height: 100%;
  margin-left: 10px;
}
.right_cus{
  width: 50%;
  height: 100%;
  text-align: right;
  color: #A3A2A2;
  display: flex; 
  padding-left: 160px;
}
.login{
  padding-left: 2px;
  color: #1295EA;
  cursor: pointer;
}
.form{
  width: 90%;
  height: 85%;
  margin: auto;
  /* background-color: rgb(228, 37, 11); */
}

input[type="email"]{
  width:100%;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 35px;
  border: 2px solid #FFA500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=email]:focus {
  border: 2px solid #FF1744;
}
input[type="checkbox"]{
  margin-left: 10px;
}
.form p{
  font-size: 17px;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 10px;
}
input[type="text"]{
  width: 49.67%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #FFA500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus {
  border: 2px solid #FF1744;
}
#company{
  width: 100%;
  padding: 10px 20px;
  margin-top: 35px;
}
#addr{
  width: 70%;
  padding: 10px 20px;
  margin-top: 35px;
}
#apt{
  width: 29.3%;
  padding: 10px 20px;
  margin-top: 35px;
}
#country{
  width: 35%;
  padding: 10px 20px;
  margin-top: 35px;
  border: 2px solid #FFA500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#state{
  width: 50%;
  padding: 10px 20px;
  margin-top: 35px;
  border: 2px solid #FFA500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#zip{
  width: 13.5%;
  padding: 10px 20px;
  margin-top: 35px;
}
/* ////////////////////////////////// */
.right_con{
  width: 33%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  /* background-color: rgb(157, 156, 156); */
  background-color: gray;
}
.sub_right{
  width: 80%;
  height: 80%;
  /* background-color: burlywood; */
  margin: auto;
  margin-top: 40px;
}
.list{
  width: 100%;
  height: 30%;
  display: flex;
  /* background-color: darkkhaki; */
  margin-top: 30px;
}
.left_text{
  width: 60%;
  height: 100%;
  /* background-color: cornflowerblue; */
}
.left_text p{
  padding-top: 10px;
  color: #252627;
}
.right_num{
  width: 40%;
  height: 100%;
  /* background-color: darkseagreen; */
}
.right_num h4{
  padding-top: 10px;
  text-align: center;
}
.total{
  width: 100%;
  height: 10%;
  display: flex;
  padding-top: 20px;
}
.text{
  width: 60%;
  height: 100%;
}
.num{
  width: 40%;
  height: 100%;
  text-align: center;
}
.btn{
  width: 90%;
  height: 10%;
  margin-top:40px;
  /* background-color: cadetblue; */
}
.dis_code{
  margin-top: 20px;
}
#code{
  width: 60%;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
button{
  padding: 10px 30px;
  background-color: #FFA500;
  border: none;
  font-size: 15px;
  border-radius: 7px;
}
/* button{
width: 39%;
padding: 10px 20px;
background-color: #FFA500;
font-size: 17px;
border: none;
} */
button:hover{
background: #FF1744;
transition: .5s;
}
/* page sipping//////////////////////////////////////////// */
.con_info{
  width: 80%;
  height: 500px;
  /* background-color: darksalmon; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.left_con_info{
  width: 60%;
  height: 100%;
  /* background-color: rgb(246, 243, 243); */
  /* background-color: #85C1E9 ; */
  border-radius: 7px;
  box-shadow: 0px 5px 10px gray;
}
.right_con_info{
  width: 33%;
  height: 100%;
  /* background-color: deeppink; */
}
.sub_info{
  width: 90%;
  height: 70%;
  /* background-color: #FF1744; */
  margin: auto;
  margin-top: 20px;
}
.text_info p{
  padding: 10px;
}
.text_info p span{
  font-size: 14px;
  color: #A3A2A2;
}
.text_info p a{
  padding-left: 180px;
  color: #1295EA;
}
.sub_info p{
  padding: 10px;
  /* padding-top: 30px; */
}
.sub_info .form{
  width: 100%;
  /* background-color: #FF1744; */
  height: 30%;
  display: flex;
}
.sub_info .form .sub_form{
  width: 50%;
  /* background-color: #1295EA; */
  height: 100%;
}
.sub_info .price{
  width: 50%;
  /* background-color: brown; */
}
.sub_info .price h4{
  text-align: right;
}

/* ////////////////////////////////// */
.right_con{
  width: 33%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  /* background-color: rgb(157, 156, 156); */
  background-color: gray;
}
.sub_right{
  width: 80%;
  height: 80%;
  /* background-color: burlywood; */
  margin: auto;
  margin-top: 40px;
}
.list{
  width: 100%;
  height: 30%;
  display: flex;
  /* background-color: darkkhaki; */
  margin-top: 30px;
}
.left_text{
  width: 60%;
  height: 100%;
  /* background-color: cornflowerblue; */
}
.left_text p{
  padding-top: 10px;
  color: #252627;
}
.right_num{
  width: 40%;
  height: 100%;
  /* background-color: darkseagreen; */
}
.right_num h4{
  padding-top: 10px;
  text-align: center;
}
.total{
  width: 100%;
  height: 10%;
  display: flex;
  padding-top: 20px;
}
.text{
  width: 60%;
  height: 100%;
}
.num{
  width: 40%;
  height: 100%;
  text-align: center;
}
.btn{
width: 90%;
height: 10%;
margin-top:40px;
/* background-color: cadetblue; */
}
.dis_code{
  margin-top: 20px;
}
#code{
  width: 60%;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dis_code button{
  padding: 10px 30px;
  background-color: #FFA500;
  border: none;
  font-size: 15px;
  border-radius: 7px;
  margin-left: 7px;
}
button:hover{
  background: #FF1744;
  transition: .5s;
}
/* page payment/////////////////////////// */
.con_in{
  width: 80%;
  height: 600px;
  /* background-color: darksalmon; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.text_info{
  display: flex;
}
.text_info p{
  padding: 10px;
} 
 .text_info p span{
  font-size: 14px;
  color: #A3A2A2;
}
.text_info p a{
  padding-left: 180px;
  color: #1295EA;
}
.edit{
    padding-top: 10px;
    padding-left: 180px;
    color: #1295EA;
    cursor: pointer;
}
.sub_info p{
  padding: 10px;
}
.sub_info p span{
  font-size: 14px;
  color: #A3A2A2;
}
.sub_info p a{
  padding-left: 180px;
  color: #1295EA;
}
.sub_info input[type="text"]{
  width:100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid #FFA500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  margin-bottom: 10px;
}
#name_card{
  width: 40%;
}
input[type="text"]:focus {
  border: 2px solid #FF1744;
}
input[type="date"]{
  width:40%;
  padding: 9px 20px;
  box-sizing: border-box;
  border: 2px solid #FFA500;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="date"]:focus {
  border: 2px solid #FF1744;
}
#cvv{
  width: 18.5%;

}
.b_addr{
margin-top: 10px;
}
.sub_info button{
width: 100%;
padding: 9px 20px;
margin-top: 10px;
background-color: white;
}
.sub_info button{
text-align: left;
box-sizing: border-box;
border: 2px solid #FFA500;
-webkit-transition: 0.5s;
transition: 0.5s;
outline: none;
}
.sub_info button:hover {
border: 2px solid #FF1744;
}
.rem_me{
margin-top: 10px;
}

.righ_con {
  width: 33%;
  height: 84%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  /* background-color: rgb(157, 156, 156); */
  background-color: gray;
}
/* success page ////////////////*/
.con_inf{
  width: 80%;
  height: 500px;
  /* background-color: darksalmon; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
.left_con_info{
  width: 60%;
  height: 100%;
  /* background-color: rgb(246, 243, 243); */
  /* background-color: #85C1E9 ; */
  border-radius: 7px;
  box-shadow: 0px 5px 10px gray;
}
.right_con_info{
  width: 33%;
  height: 100%;
  /* background-color: deeppink; */
}
.sub_info{
  width: 90%;
  height: 70%;
  /* background-color: #FF1744; */
  margin: auto;
  margin-top: 20px;
}
.text_info p{
  padding: 10px;
}
.text_info p span{
  font-size: 14px;
  color: #A3A2A2;
}
.text_info p a{
  padding-left: 180px;
  color: #1295EA;
}
.sub_info p{
  padding: 10px;
  /* padding-top: 30px; */
}
.sub_info .form{
  width: 100%;
  /* background-color: #FF1744; */
  height: 30%;
  display: flex;
}
.sub_info .form .sub_form{
  width: 50%;
  /* background-color: #1295EA; */
  height: 100%;
}
.sub_info .price{
  width: 50%;
  /* background-color: brown; */
}
.sub_info .price h4{
  text-align: right;
}

/* ////////////////////////////////// */
.right_con{
  width: 33%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  /* background-color: rgb(157, 156, 156); */
  background-color: gray;
}
.sub_right{
  width: 80%;
  height: 80%;
  /* background-color: burlywood; */
  margin: auto;
  margin-top: 40px;
}
.list{
  width: 100%;
  height: 30%;
  display: flex;
  /* background-color: darkkhaki; */
  margin-top: 30px;
}
.left_text{
  width: 60%;
  height: 100%;
  /* background-color: cornflowerblue; */
}
.left_text p{
  padding-top: 10px;
  color: #252627;
}
.right_num{
  width: 40%;
  height: 100%;
  /* background-color: darkseagreen; */
}
.right_num h4{
  padding-top: 10px;
  text-align: center;
}
.total{
  width: 100%;
  height: 10%;
  display: flex;
  padding-top: 20px;
}
.text{
  width: 60%;
  height: 100%;
}
.num{
  width: 40%;
  height: 100%;
  text-align: center;
}
.btn{
width: 90%;
height: 10%;
margin-top:40px;
/* background-color: cadetblue; */
}
.dis_code{
  margin-top: 20px;
}
#code{
  width: 60%;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
button{
  padding: 10px 30px;
  background-color: #FFA500;
  border: none;
  font-size: 15px;
  border-radius: 7px;
}
button:hover{
  background: #FF1744;
  transition: .5s;
}
